html {
  background-color: #23252C;
}

body {
  width: 600px;
  margin: 20px auto;
  background-color: #1A1B21;
  border: 0px solid #1A1B21;
  border-radius: 10px;
  color: white;
  text-align: center;  
  font-family: 'Inter', sans-serif;
  margin-top: 10%;
  margin-bottom: 10%;
}

.h5 {
  color: white; 
}

.links {
  display: flex;
  padding: 0px 80px 20px 80px;
}

button {
  border-radius: 5px;
  border: 0px ;
  height: 40px;
  width: 400px;
  margin-left: 30px;
  font-size: 18px;
  line-height: 20px;
  padding: 10px;
  display: inline-flex;
  justify-content: center; /* center the content horizontally */
  align-items: center;
}

button img{
  height: 20px;
  padding: 10px;
}


.Ilogo {
  background-color: #5093E2; 
  color: white;
  margin-left: 200px;
}

.section {
  text-align: left;
  padding: 0px 80px 20px 80px;
}

.profile--icon {
    height: auto;
    width: 600px;
    border-radius: 10px 10px 0px 0px;
}

.footer {
  background-color: #161619;
  height: 60px;
  border-bottom-left-radius: 10px 10px; 
  border-bottom-right-radius: 10px 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container img {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 15px;
}

a:link, a:visited, a:hover, a:active { 
  text-decoration: none; 
  color: white; 
}
